*{
    margin: 0x;
    padding: 0px;
   }

   #center-box {
    width: 2200px;
    background-color: purple;
    margin: 30px auto;    
   }
   #center-item{
    width: 2200px;
    background-color: tan;
    margin: 30px auto;    
   }

   img 



   