<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>RobotoMono-Regular.ttf</string>
	<key>BuildMachineOSBuild</key>
	<string>19A582a</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dash</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iconDashlaneDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Dashlane Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dashlane.dash</string>
			</array>
			<key>NSDocumentClass</key>
			<string>DLArchiveDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dashlanearchive</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iconDashlaneDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Dashlane Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dashlane.dashlanearchive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>DLArchiveDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Dashlane</string>
	<key>CFBundleIconFile</key>
	<string>Dashlane.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.dashlane.Dashlane</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Dashlane</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.2027.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Dashlane</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dashlane</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6.2027.0.36391</string>
	<key>DLBundleLearningVersion</key>
	<string>XXXXXXX</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11A420a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19A547</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1100</string>
	<key>DTXcodeBuild</key>
	<string>11A420a</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Dashlane. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dashlane Archive</string>
			<key>UTTypeIconFile</key>
			<string>iconDashlaneDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.dashlane.dash</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dash</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dashlane Archive</string>
			<key>UTTypeIconFile</key>
			<string>iconDashlaneDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.dashlane.dashlanearchive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dashlanearchive</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>com.dashlane.extension-identifier</key>
	<string>com.dashlane.Dashlane.SafariExtensionDMG</string>
</dict>
</plist>
